header {
   background-color: #3789;
}


.container {
   
   position: fixed;
   text-align: center;
   margin: auto;
   
   
   
 }
.topcentered{ 
   position: relative;
   top: 20px;
   left: 248px;
   text-align: center;
   width: 410px;
   
  

}
.bottomcentered {
   position: absolute;
   top: 475px;
   left: 255px;
   text-align: center;
   width: 400px;
   
   
}


h2 {
   background-color: #fdbb2d;
   color: #0a3b02;
  
}
img{ 
   display:block;
   margin-left: auto;
   margin-right: auto;
   background: yellow;
   padding: 10px;
   border: 1px solid lightyellow
   

}
h3{
   background-color: royalblue;
   color: aqua;
}

body{
   padding: 10px;
   
}

