header {
   background-color: #3789;
}


.contain {
   
 width: 600px;
 border: 1px solid green;
 margin:auto;
 margin-top: 200px;
 

}
   
   
   
 
.info { 
   display: flex;
   flex-direction: column;

}


   


.info .h2 {
   background-color: #fdbb2d;
   color: #0a3b02;
   text-align: center;
   font-size: 25px;
  
}

.info .h2::before {
   content: "My name is Farah Mire";
}

 .h3 {
   background-color: blueviolet;
   color: teal;
   text-align: center;
   font-size: 25px;

}

.h3::before {
   content: "And I drive a Honda Civic";
}
   



